<div class="row">
  <div class="col-md-12">
    <h2 style="margin-bottom:0;">Companies</h2>
    <p class="text-muted" style="margin-bottom:20px;">
      <br/>
      <user-header-text entity="Company"></user-header-text>
    </p>
    <p class="pull-right">
      <button ng-click="$ctrl.export()" class="btn btn-primary btn-xs">Export Companies</button>
      <a ng-click="$ctrl.ensureIrish()" class="btn btn-primary btn-xs">Create a Company</a>
    </p>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">Search Companies</div>
  <div class="panel-body">
    <div class="row">
      <input id="searchCompanies"
             type="text"
             ng-model="$ctrl.selected"
             uib-typeahead="company as company.name for company in $ctrl.filterUnclaimedCompanies($viewValue)"
             class="form-control"
             placeholder="Type here to search for your company...">
    </div>
    <div ng-show="$ctrl.selected && $ctrl.selected.id" class="row">
      <br/>
      <p>
        Click 'Claim' to request ownership of this company.
      </p>
      <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
          <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Irish Headquarters</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <a ui-sref="search.companyProfile({id: $ctrl.selected.id})"><img ng-src="{{$ctrl.selected.logo}}" alt="{{$ctrl.selected.name}}" width="80" height="50"></a>
            </td>
            <td>
              <strong>
                <a ui-sref="search.companyProfile({id: $ctrl.selected.id})">{{company.name}}</a>
              </strong>
              <p style="color:#acacac"><i>{{$ctrl.selected.short_description}}</i> <a ng-href="{{$ctrl.selected.website}}" ng-show="$ctrl.selected.website"><i class="fa fa-link"></i></a></p>
            </td>
            <td class="base">{{$ctrl.selected.headquarters}}</td>
            <td class="actions">
              <div>
                <a ng-if="!$ctrl.selected.claimed_requested_by_current_user" ng-click="$ctrl.claimCompany($event, $ctrl.selected.id)" class="btn btn-xs btn-primary-blue">Claim</a>
                <a ng-if="$ctrl.selected.claimed_requested_by_current_user" class="btn btn-xs btn-primary-blue" disabled>Requested</a>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div ng-if="$ctrl.companies.user_companies.length > 0" class="panel panel-default">
  <div class="panel-heading">My Profiles</div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Irish Headquarters</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-class="{deleted: company.deleted_at}" ng-repeat="company in $ctrl.companies.user_companies">
          <td>
            <a ng-if="company.user_id" ui-sref="user.companies.edit({id: company.id})"><img ng-src="{{company.logo}}" alt="{{company.name}}" width="80" height="50"></a>
            <a ng-if="!company.user_id" ui-sref="search.companyProfile({id: company.id})"><img ng-src="{{company.logo}}" alt="{{company.name}}" width="80" height="50"></a>
          </td>
          <td>
            <strong>
              <a ng-if="company.user_id" ui-sref="user.companies.edit({id: company.id})">{{company.name}}</a>
              <a ng-if="!company.user_id" ui-sref="search.companyProfile({id: company.id})">{{company.name}}</a>
            </strong>
            <p style="color:#acacac"><i>{{company.short_description}}</i> <a ng-href="{{company.website}}" ng-show="company.website"><i class="fa fa-link"></i></a></p>
          </td>
          <td class="base">{{company.headquarters}}</td>
          <td class="actions">
            <div class="" ng-if="company.user_id">
              <span ng-hide="company.deleted_at">
                <a ui-sref="user.companies.edit({id: company.id})"><i class="fa fa-2x fa-edit"></i></a>
              </span>
            </div>
            <div class="" ng-if="!company.user_id && !company.deleted_at">
              <a ng-if="!company.claimed_requested_by_current_user" ng-click="$ctrl.claimCompany($event, company.id)" class="btn btn-xs btn-primary-blue">Claim</a>
              <a ng-if="company.claimed_requested_by_current_user" class="btn btn-xs btn-primary-blue" disabled>Requested</a>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div ng-if="$ctrl.companies.pending_companies.length > 0" class="panel panel-default">
  <div class="panel-heading">Pending Approval</div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Irish Headquarters</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-class="{deleted: company.deleted_at}" ng-repeat="company in $ctrl.companies.pending_companies">
          <td>
            <img ng-src="{{company.logo}}" alt="{{company.name}}" width="80" height="50">
          </td>
          <td>
            <strong>
              {{company.name}}
            </strong>
            <p style="color:#acacac"><i>{{company.short_description}}</i> <a ng-href="{{company.website}}" ng-show="company.website"><i class="fa fa-link"></i></a></p>
          </td>
          <td class="base">{{company.headquarters}}</td>
          <td class="actions">
            <a class="btn btn-xs btn-primary-blue" disabled>Requested</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
