<admin-overview entity="$ctrl.hub"></admin-overview>



<div class="panel panel-default">
  <div class="panel-heading">Details</div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">

        <div class="form-group">
          <label for="contact">Funding Provided:</label>
          <br>
          <input type="radio" ng-model="$ctrl.hub.funding_provided" ng-value="true"> Yes
          &nbsp;
          <input type="radio" ng-model="$ctrl.hub.funding_provided" ng-value="false"> No
        </div>

        <div class="form-group">
          <label>Hub Type</label>
          <div class="checkbox">
            <label>
              <input ng-model="$ctrl.hub_type.I" type="checkbox" value="I">Incubator</label>
            <br/>
          </div>
          <div class="checkbox">
            <label>
              <input ng-model="$ctrl.hub_type.A" type="checkbox" value="A">Accelerator</label>
            <br/>
          </div>
          <div class="checkbox">
            <label>
              <input ng-model="$ctrl.hub_type.CW" type="checkbox" value="CW">Co-working</label>
            <br/>
          </div>
          <div class="checkbox">
            <label>
              <input ng-model="$ctrl.hub_type.E" type="checkbox" value="E">Education</label>
            <br/>
          </div>
          <div class="checkbox">
            <label>
              <input ng-model="$ctrl.hub_type.G" type="checkbox" value="G">Government</label>
            <br/>
          </div>
          <div class="checkbox">
            <label>
              <input ng-model="$ctrl.hub_type.C" type="checkbox" value="C">Community</label>
            <br/>
          </div>
        </div>

      </div>
      <div class="col-md-6">

        <div class="form-group">
          <label for="founded">Founded:</label>
          <input ng-model="$ctrl.hub.founded" id="founded" class="form-control" type="text">
        </div>

        <div class="form-group">
          <label for="contact_detail">Contact Detail:</label>
          <input ng-model="$ctrl.hub.contact_detail" id="contact_detail" class="form-control" type="text">
        </div>

      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Location</div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-info" role="alert">
          To get longitude and latitude coordinates: Find your location on google maps, right click on the red marker, select "what's here" and you'll find them at the bottom of the dialog box (first one is latitude, second one is longitude).
        </div>
        <div class="form-group">
          <label for="address">Address:</label>
          <input ng-model="$ctrl.hub.address" id="address" class="form-control" type="text">
        </div>
        <div class="form-group">
          <label for="headquarters">Latitude:</label>
          <input ng-model="$ctrl.hub.lat" id="address" class="form-control" type="text">
        </div>

        <div class="form-group">
          <label for="headquarters">Longitude:</label>
          <input ng-model="$ctrl.hub.lng" id="address" class="form-control" type="text">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    Application Details
    <a ng-click="$ctrl.addApplication()" class="btn btn-primary btn-sm pull-right">Add Application</a>
  </div>
  <div class="panel-body">
    <div ng-if="$ctrl.hub.applications.length == 0">
      <p>There are no applications.</p>
    </div>
    <div ng-if="$ctrl.hub.applications.length > 0" ng-repeat="application in $ctrl.hub.applications track by $index">
      <div class="panel panel-default">
        <div class="panel-heading">
          Application
          <a ng-click="$ctrl.removeApplication(application)" class="pull-right"><i class="fa fa-2x fa-trash"></i></a>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="contact-name">Title</label>
                <input type="text" ng-model="application.title" class="form-control" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="contact-email">Deadline</label>
                <div class="input-group">
                  <input class="form-control"
                         type="text"
                         ng-model="application.deadline"
                         uib-datepicker-popup="dd/MM/yyyy"
                         is-open="application.opened"
                         close-text="Close"
                         ng-click="$ctrl.toggleCalendar(application)"
                         style="background-color: white;"
                         readonly>
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="$ctrl.toggleCalendar(application)"><i class="fa fa-calendar"></i></button>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="contact-phone">Link</label>
                <input ng-model="application.link" class="form-control" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    Private Contacts (for admin purposes only)
    <a ng-click="$ctrl.addPrivateContact()" class="btn btn-primary btn-sm pull-right">Add Contact</a>
  </div>
  <div class="panel-body">
    <div ng-if="$ctrl.hub.contact_urls.length == 0">
      <p>There are no private contacts.</p>
    </div>
    <div ng-if="$ctrl.hub.contact_urls.length > 0" ng-repeat="contact in $ctrl.hub.contact_urls track by $index">
      <div class="panel panel-default">
        <div class="panel-heading">
          Contact
          <a ng-click="$ctrl.removePrivateContact(contact)" class="pull-right"><i class="fa fa-2x fa-trash"></i></a>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="contact-name">Name</label>
                <input type="text" ng-model="contact.name" id="contact-name" class="form-control">
                </textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="contact-email">Email</label>
                <input type="text" ng-model="contact.email" id="contact-email" class="form-control">
                </textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="contact-phone">Phone</label>
                <input type="number" ng-model="contact.phone" id="contact-phone" class="form-control">
                </textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Alumni</div>
  <div class="panel-body">
    <tags-input name="companiesInput"
                ng-model="$ctrl.hub.alumni"
                replace-spaces-with-dashes="false"
                placeholder="Add a company"
                add-on-enter="false"
                add-from-autocomplete-only="true"
                key-property="id"
                display-property="name">
      <auto-complete source="$ctrl.queryCompanies($query)" display-property="name">
      </auto-complete>
    </tags-input>
    <p class="help-block" style="color:red" ng-show="create.companiesInput.$invalid || edit.companiesInput.$invalid">
      Sorry, looks like you are trying to add company that does not exist in our system. If you'd like to suggest a new company, please email <a href="mailto:ciaran@startupdublin.com?Subject=I%20Have%20A%20New%20Startup%20For%20You%21&Body=Hi%20Ciaran%2C%0A%0AI%20was%20editing%20a%20profile%20%28INSERT%20PROFILE%20NAME%20HERE%29%20on%20TechIreland.org%20and%20wanted%20to%20suggest%20a%20new%20Irish%20company%20-%20%28INSERT%20COMPANY%20HERE%29.%0A%0AThanks%21">ciaran@startupdublin.com</a>
    </p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Tags</div>
  <div class="panel-body">
    <p>
      Please add as many as are relevant. If you'd like to suggest a new tag, please email <a href="mailto:ciaran@startupdublin.com">ciaran@startupdublin.com</a>
    </p>
    <tags-input name="tagsInput"
                ng-model="$ctrl.tags"
                add-on-enter="false"
                add-from-autocomplete-only="true"
                on-tag-added="$ctrl.addTag($tag)"
                on-tag-removed="$ctrl.removeTag($tag)">
      <auto-complete source="$ctrl.queryTags($query)"></auto-complete>
    </tags-input>
    <p class="help-block" style="color:red" ng-show="create.tagsInput.$invalid || edit.tagsInput.$invalid">
      Sorry, looks like you are trying to use a tag that does not exist in our system.
    </p>
  </div>
</div>
