<div class="row">
  <h2>Users</h2>
</div>
<div class="row">
  <div class="pull-right">
    <p>
      <button ng-click="$ctrl.export()" class="btn btn-primary">Export</button>
    </p>
  </div>
</div>
<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Name</th>
        <th>Joined</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in $ctrl.users">
        <td>
          {{user.id}}
        </td>
        <td>
          <strong>
            {{user.email}}
          </strong>
        </td>
        <td>
          <span>{{user.first_name}} {{user.first_last}}</span>
        </td>
        <td class="actions">
          {{user.created_at | date:'medium'}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
